<div class= "Sign_Form">
  <h1>LogIn</h1>
  <%= form_tag(:action => 'login') do %>
    <p>Username oder E-Mail:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Passwort:</br> <%= password_field_tag :login_password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>

 Oder <%= link_to "neues Benutzerkonto", controller: "users", action: "new" %> anlegen.

</div>