<ul>
	<li><%= image_tag("euro1.png", size: "30") %><%= link_to "Preisübersicht", controller: "statistic", action: "actual" %></li>
	<li><%= image_tag("line23.png", size: "30") %><%= link_to "Preisverlauf", controller: "statistic", action: "history" %></li>
	<li><%= image_tag("monday.png", size: "30") %><%= link_to "Wochentagsauswertung", controller: "statistic", action: "weekday" %></li>
	<li><%= image_tag("small129.png", size: "30") %><%= link_to "Min-Maxauswertung", controller: "statistic", action: "minMax" %></li>
	<li><%= image_tag("averange.png", size: "27") %><%= link_to "Durschnittspreis", controller: "statistic", action: "averange" %></li>
	<li><%= image_tag("pin56.png", size: "30") %><%= link_to "Referenzorte", controller: "statistic", action: "reference" %></li>
</ul>

