<ul>
	<li><%= image_tag("euro1.png", size: "20") %><%= link_to "Preisübersicht", controller: "statistic", action: "actual" %></li>
	<li><%= image_tag("line23.png", size: "20") %><%= link_to "Preisverlauf", controller: "statistic", action: "history" %></li>
	<li><%= image_tag("monday.png", size: "20") %><%= link_to "Wochentagsauswertung", controller: "statistic", action: "actual" %></li>
</ul>

