<div class="row">
  <div id="mainStats" class=" stats col-xs-12 col-md-10 ">
    <h3>Aktuelle Preis端bersicht</h3>
    <table id="actTable" class="tablesorter table table-striped table-hover ">
      <thead>
        <tr>
          <th><a>Ort/Stadt</a></th>
          <th><a>G端nstigster Preis [Diesel]</a></th>
          <th><a>Durschnittspreis [Diesel] <b>*</b></a></th>
          <th><a>G端nstigster Preis [Super]</a></th>
          <th><a>Durschnittspreis [Super] <b>*</b></a></th>
          <th><a>Zeitpunkt<b>*</b></a></th>
        </tr>
      </thead>
      <tbody>
        <% for city in  ReferenceCities.all()
        prices = PriceData.where(city_fk: city.id).last
        if prices != nil
        %>
        <tr>
          <td><%= city.name %></td>
          <td><%= prices.min_diesel.to_s %></td>
          <td><%= prices.average_diesel.to_s %></td>
          <td><%= prices.min_super.to_s %></td>
          <td><%= prices.average_super.to_s %></td>
          <td><%= prices.updated_at.to_s %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <p><b>*</b> - Durchschnitt von den 5 g端nstigsten Tankstellen des jeweiligen Ortes/ der jeweiligen Stadt<p>
    
  </div>
  
  <div id="sidebar" class="col-xs-12 col-md-2">
    <%= render partial: "sidebarLinks" %>
  </div>
  <div class="clear"></div>
</div>
<script>
  $(document).ready(function(){ $("#actTable").tablesorter(); } );
</script>