<div class="row">
  <div id="mainStats" class=" stats col-xs-12 col-md-12">
    <h3>Durchschnittspreise</h3>
    <p>basierend auf Daten von <%= ReferenceCities.all().count() %> Refrenzorte<p>
      <table class="table table-striped table-hover ">
        <tbody>
          <tr>
            <td colspan='2'><h4>Gesamt</h4></td>
          </tr>
          <tr>
            <td>Diesel</td>
            <td><%= (PriceData.all.sum(:average_diesel)/PriceData.all.count(:average_diesel)).round(3) %> €</td>
          </tr>
          <tr>
            <td>Super</td>
            <td><%= (PriceData.all.sum(:average_super)/PriceData.all.count(:average_super)).round(3) %> €</td>
          </tr>
          <tr>
            <td colspan='2'><h4>Tag</h4></td>
          </tr>
          <tr>
            <td>Diesel</td>
            <td><%= (PriceData.where(created_at: (Time.now.midnight)..(Time.now)).sum(:average_diesel)/PriceData.where(created_at: (Time.now.midnight)..(Time.now)).count(:average_diesel)).round(3) %> €</td>
          </tr>
          <tr>
            <td>Super</td>
            <td><%= (PriceData.where(created_at: (Time.now.midnight)..(Time.now)).sum(:average_super)/PriceData.where(created_at: (Time.now.midnight)..(Time.now)).count(:average_super)).round(3) %> €</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
<script>
  $(document).ready(function(){ $("#actTable").tablesorter(); } );
</script>