<div class="row">
  <div id="mainStats" class=" stats col-xs-12 col-md-9 ">
    <h3>Min/Max Statistik</h3>
      <table class="table table-striped table-hover ">
        <tbody>
          <tr>
            <td colspan='5'><h4>Günstigster Preis</h4></td>
          </tr>
          <tr>
            <td>Diesel</td>
            <td><%= PriceData.get_cheaptest_diesel_price.min_diesel %> €</td>
            <% id = PriceData.get_cheaptest_diesel_price.city_fk %>
            <td><%= ReferenceCities.where(id: id).take.name%><td>
            <td><%= PriceData.get_cheaptest_diesel_price.updated_at %></td>
          </tr>
          <tr>
            <td>Super</td>
            <td><%= PriceData.get_cheaptest_petrol_price.min_super %> €</td>
            <% id = PriceData.get_cheaptest_petrol_price.city_fk %>
            <td><%= ReferenceCities.where(id: id).take.name%><td>
            <td><%= PriceData.get_cheaptest_petrol_price.updated_at %></td>
          </tr>
          <tr>
            <td colspan='5'><h4>Teuerster Preis *</h4></td>
          </tr>
          <tr>
            <td>Diesel</td>
            <td><%= PriceData.get_priciest_diesel_price.min_diesel %> €</td>
            <% id = PriceData.get_priciest_diesel_price.city_fk %>
            <td><%= ReferenceCities.where(id: id).take.name%><td>
            <td><%= PriceData.get_priciest_diesel_price.updated_at %></td>
          </tr>
          <tr>
            <td>Super</td>
            <td><%= PriceData.get_priciest_petrol_price.min_super %> €</td>
            <% id = PriceData.get_priciest_petrol_price.city_fk %>
            <td><%= ReferenceCities.where(id: id).take.name%><td>
            <td><%= PriceData.get_priciest_petrol_price.updated_at %></td>
          </tr>
           <tr>
            <td colspan='5'><p>* Der teuerste Preis bezieht sich auf die jeweils teuerste der 5 günstigsten Tankstellen</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  <div id="sidebar" class="col-xs-12 col-md-3">
    <%= render partial: "sidebarLinks" %>
  </div>
  <div class="clear"></div>
</div>
<script>
  $(document).ready(function(){ $("#actTable").tablesorter(); } );
</script>