<div class="row">
  <div id="main" class="col-xs-12 col-md-9">
    <!--<h3>Aktuelle Preis端bersicht</h3>
    <table class="table table-striped table-hover">
      <tr>
        <td>Ort/Stadt</td>
        <td>G端nstigster Preis (Diesel)</td>
        <td>Durschnittspreis (Diesel) <b>*</b></td>
        <td>G端nstigster Preis (Super)</td>
        <td>Durschnittspreis (Super) <b>*</b></td>
      </tr>
      <% for city in  ReferenceCities.all()
      prices = PriceData.where(cityFk: city.id).take
      %>
      <tr>
        <td><%= city.name %></td>
        <td><%= prices.minDiesel.to_s %></td>
        <td><%= prices.averageDiesel.to_s %></td>
        <td><%= prices.minPetrol.to_s %></td>
        <td><%= prices.averagePertrol.to_s %></td>
      </tr>
      <% end %>
    </table>
    <p><b>*</b> - Durchschnitt von den 5 g端nstigsten Tankstellen des jeweiligen Ortes/ der jeweiligen Stadt<p>-->
    <h3>Preisverlauf</h3>

    <select id="city" size="1">
      <% for city in  ReferenceCities.all() %>
      <option value=<%= city.id %>><%= city.name %></option>
      <% end %>
    </select>

    <canvas id="myChart" width="1000" height="500"></canvas>
  </div>
  
  <div id="sidebar" class="col-xs-12 col-md-3">
  </div>
  <div class="clear"></div>
</div>




<script type="text/javascript">

$('#city').change(update);



// This will get the first returned node in the jQuery collection.

var data = {
    labels: [],
    datasets: [
        {
            label: "Diesel",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: []
        },
        {
            label: "Super",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: []
        },
    ]
};


/*<% prices = PriceData.where(cityFk: "4") %>
<% for price in prices %>
  data.labels.push('<%= price.updated_at.to_s %>');
  data.datasets[0].data.push(<%= price.averageDiesel %>);
  data.datasets[1].data.push(<%= price.averagePertrol %>);
<% end %>*/
var ctx = $("#myChart").get(0).getContext("2d");
var myLineChart = new Chart(ctx);

myLineChart.Line(data);

//A little later on with new data
function update(e) {
  console.log($('#city').val())
  $.ajax({
  url: "statistic/" + $('#city').val(),
  }).done(function(json) 
  {
    console.log(myLineChart);
    //reset dataarrays
    data.labels = [];
    data.datasets[0].data = [];
    data.datasets[1].data = [];

    for (var i = 0; i < json.length; i++) 
    {
      //console.log(data.datasets[0]);
      data.labels.push(json[i].updated_at)
      data.datasets[0].data.push(json[i].averageDiesel);
      data.datasets[1].data.push(json[i].averagePertrol);
    };


    myLineChart.Line(data);
    ctx.clearRect( 0 , 0 , 1000, 500 );
    console.log(ctx);



    

  });


}




</script>


