<div class="row">

  <div id="main" class="col-xs-12 col-md-9">
     <%= @allCitiesPrices %>
  </div>

  <div id="sidebar" class="col-xs-12 col-md-3"> 

 <!--Bregenz <%= @Bregenz %><br>
 Innsbruck <%= @Innsbruck %><br>
 Salzburg <%= @Salzburg %><br>
 Klagenfurt <%= @Klagenfurt %><br>
 Linz <%= @Linz %><br>
 St.Pölten <%= @StPoelten %><br>
 Graz <%= @Graz %><br>
 Eisenstadt <%= @Eisenstadt %><br>
 Wien <%= @Wien %><br>-->


  </div>

  <div class="clear"></div>

</div>


